*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background: #2600ad;
    --text-color: #ffffff;
    --nav-background: #5457fc;
    --a-hover: #9bb6ff;
    --backgroundbutton: #ff0000;
}

body {
    background: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1{
    color: var(--text-color);

}

main{
    width: 200PX;
    background-color: var(--a-hover);
    padding: 20px;
}

input{
    margin-top: 20px;
}



button{
    width: 100%;
    padding: 10PX;
    margin-top: 20px;
    background-color: var(--backgroundbutton);
    font-weight: 800;
    color:var(--text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button :hover{
    background-color: var(--text-color);
}